body {
  font-size: large;
}

#site_body {
  margin: 0 auto;
  width: 95%;
  margin-top: 20px;
  padding-bottom: 0px;
  -webkit-transition: rotateY 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: rotateY 0.3s ease-out;  /* Firefox 4-15 */
       -o-transition: rotateY 0.3s ease-out;  /* Opera 10.50–12.00 */
          transition: rotateY 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}

#footer {
  overflow: auto;
  padding: 20px 0;
}