html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

#maincontent {
  padding-bottom: 80px;
}

#site_body {
  margin: 0 auto;
  width: 600px;
  margin-top: 20px;
  padding-bottom: 0px;
  -webkit-transition: rotateY 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: rotateY 0.3s ease-out;  /* Firefox 4-15 */
       -o-transition: rotateY 0.3s ease-out;  /* Opera 10.50–12.00 */
          transition: rotateY 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}

#footer {
  background-color: white;
  opacity: 0.7;
  position: fixed;
  right: 0px;
  left: 0px;
  bottom: 0px;
  padding: 20px;
}

.content_head {
  width: 560px;
  font-size: 15px;
}

.content_foot {
  width: 560px;
  font-size: 15px;
}

#wrap {
  width: 100%;
  padding: 0px;
  height: 100%;
}