<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <title>Brandon Duffany</title>
  <script>
/* For http://foo.com/some/path#hash, returns "some/path". */
function get_path() {
  return window.location.pathname.replace(/^\/+/, '');
}

/* If the user accesses http://foo.com/bar, redirect them to
 * http://foo.com/#bar. */
if (get_path()) {
  window.location = '/#' + get_path();
}
  </script>

  <link href="http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700" rel="stylesheet">
  <link href="/static/css/main.css" rel="stylesheet" />
</head>

<body class="nojquery">
<div id="wrap">

  <div id="navbar">
    <ul id="nav-list">
      <li><a href="#">Home</a></li>
      <li><a href="#about">About</a></li>
    </ul>
  </div>
  <div id="left-column">
    <div id="site_title">
      <a href="#">
      <img id="logo_text" src="/static/img/name_5.png" alt="Brandon Duffany"
           width="158" height="84"/>
      </a>
  	</div>
    <div id="connect" class="subtleglow">
      <div id="social-links">
        <span>
          <a href="http://github.com/bduffany" target="_new">
          <img src="/static/img/octocat-24-2.png" width="24" height="24" alt="GitHub"/>
          </a>    
        </span>
        <span>
          <a href="https://www.linkedin.com/profile/view?id=282468071" target="_new">
          <img src="/static/img/linkedin-24.png" width="24" height="24" alt="Linkedin"/>
          </a>
        </span>
        <span>
          <a href="https://www.facebook.com/brandon.duffany" target="_new">
          <img src="/static/img/facebook-24.png" width="24" height="24" alt="facebook"/>
          </a>
        </span>
        <span>
          <a href="https://soundcloud.com/brandonduffany" target="_new">
          <img src="/static/img/soundcloud-24.png" width="24" height="24" alt="SoundCloud"/>
          </a>
        </span>
      </div>
    </div>
  </div>
    
  <div id="right-column">
    <div id="site_body">
      <div id="maincontent">
        <!-- Content is dynamically loaded here. -->
      </div>
  	</div>

  </div>

</div>


<script src="/static/vendor/jquery-1.10.2.min.js"></script>
<script src="/static/vendor/jquery-ui-1.10.3.custom.min.js"></script>
<script src="/static/vendor/jquery.transit.min.js"></script>

<script src="/static/js/nav.js"></script>

</body>
</html>
